spring:
  application:
    name: config-client
eureka:
  client:
    healthcheck:
      enabled: true
health:
  config:
    enabled: true

management:
  security:
    enabled: false
  endpoints:
    web:
      exposure:
        include: "*"
endpoints:
  actuator:
    enabled: true